/* In your App.css or a global CSS file */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent !important; /* Override any background color */
  background-size: cover;
  font-family: 'Century SchoolBook', 'Garamond', 'PlayFair Display', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}


.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Adjust the background color to match your page */
  z-index: 9999;
  pointer-events: none; /* Prevent user interaction with the overlay */
}

.scroll-content {
  padding-top: 100px; /* Adjust this value to the height you want the user to start seeing */
}
